<style>
  h3 {
    text-align: center;
  }
</style>

<div id="divInputs">
  <input type="text" name="text" id="text" />
  <button class="button-89" id="fetch" role="button">Study Now</button>
  <br /><br>
  {{!-- <select name="commentary" id="">
    <option>Choice Commentary</option>
    <option value="1">Barnes Notes</option>
    <option value="2">Critical and Explanatory</option>
  </select> --}}
</div>

<span id="load"></span>
<div id="content">
  <br />

  {{#if lastTyped.text}}
  <p class="p">
    <b>Verse:</b>
    {{lastTyped.text}}
    <br>
    --
    {{lastTyped.verse}}
    (NASB1995)
  </p>
  <br />
  <p class="p">
    <b>Interlinear:</b>
    {{#each OG}}
    <span> {{this.enText}} </span>
    {{/each}}
  </p>
  <br />
  <p class="p">
    <b>Original-Text:</b>
    {{#each OG}}
    <span> {{this.ogText}} </span>
    {{/each}}
  </p>
  {{else}}
  {{/if}}


  {{#if commentOne.commentary}}
  <p><b>Spurgeon's Commentary:</b> {{commentOne.commentary}}</p>
  {{else if commentTwo.commentary}}
  <p><b>Barnes Commentary:</b> {{commentTwo.commentary}}</p>
  {{else if commentThree.commentary}}
  <p><b>Explanatory Commentary:</b> {{commentThree.commentary}}</p>
  {{else}}
  {{/if}}
  <br>
  <hr />
  {{#if OG}}<h3>Words May Be Out Of Order But Are All Present With their Definitions</h3>
  <hr>{{else}}{{/if}}
  <script type="text/javascript">let x = []; let y = []; let z = [];</script>
  <div id="textInfo">
    {{#each OG}}
    <script
      type="text/javascript"> x.push('{{{this.strongs}}}'); y.push('{{{this.enText}}}'); z.push('{{{this.ogText}}}');</script>
    {{/each}}

  </div>

  <script type="text/javascript">
    let textInfoDiv = document.querySelector('#textInfo');
    async function getting(strongsString, strongsNumber, english, original) {
      let strongsArray = [];
      await fetch(`strong/${strongsString}`)
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            return Promise.reject(response);
          }
        })
        .then((data) => {
          let definition = data.definition;
          strongsArray.push({
            strongsNumber,
            english,
            original,
            definition,
          });
          let p1 = document.createElement('p');
          let p2 = document.createElement('p');
          let p3 = document.createElement('p');
          let p4 = document.createElement('p');
          let hr = document.createElement('hr');

          for (let i = 0; i < strongsArray.length; i++) {
            p1.innerHTML = `<b>Strongs: </b>${strongsArray[i].strongsNumber}`;
            p2.innerHTML = `<b>English: </b>${strongsArray[i].english}`;
            p3.innerHTML = `<b>Original: </b>${strongsArray[i].original}`;
            p4.innerHTML = `<b>Definition: </b>${strongsArray[i].definition}`;
          }
          textInfoDiv.appendChild(p1);
          textInfoDiv.appendChild(p2);
          textInfoDiv.appendChild(p3);
          textInfoDiv.appendChild(p4);
          textInfoDiv.appendChild(hr)
          console.log(strongsArray);
        })
        .catch((err) => console.log(err));
    }

    for (let i = 0; i < x.length; i++) {
      let strongsRefrence = x[i];
      let enRefrence = y[i];
      let ogRefrence = z[i];
      getting(strongsRefrence, strongsRefrence, enRefrence, ogRefrence);
    }
  </script>