<style>
  h3 {
    text-align: center;
  }


  /* CSS */
  .button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }

  .accordion_btn {
    display: block;
    width: 100%;
    margin: 10px auto;
  }

  .accordion_content {
    display: none;
    max-height: 0;
    transition: height .2s;
  }
</style>

<div id="divInputs">
  <input type="text" name="text" id="text" />
  <button class="button-89" id="fetch" role="button">Study Now</button>
  <br /><br>
  {{!-- <select name="commentary" id="">
    <option>Choice Commentary</option>
    <option value="1">Barnes Notes</option>
    <option value="2">Critical and Explanatory</option>
  </select> --}}
</div>

<span id="load"></span>
<div id="content">
  <br />

  {{#if lastTyped.text}}
  <p class="p">
    <b>Verse:</b>
    {{lastTyped.text}}
    <br>
    --
    {{lastTyped.verse}}
    (NASB1995)
  </p>
  <br />
  <p class="p">
    <b>Interlinear:</b>
    {{#each OG}}
    <span> {{this.enText}} </span>
    {{/each}}
  </p>
  <br />
  <p class="p">
    <b>Original-Text:</b>
    {{#each OG}}
    <span> {{this.ogText}} </span>
    {{/each}}
  </p>
  <br>
  {{else}}
  {{/if}}


  {{#if commentOne.commentary}}
  <div class="accordion">
    <button class="accordion_btn button-54" id="one" type="button">Expand Spurgeon's Commentary</button>
    <p class="accordion_content one"> {{commentOne.commentary}}</p>
  </div>
  {{else}}{{/if}}
  <br>
  {{#if commentTwo.commentary}}
  <div class="accordion">
    <button class="accordion_btn button-54" id="two" type="button">Expand Barnes Commentary</button>
    <p class="accordion_content two">{{commentTwo.commentary}}</p>
  </div>
  {{else}}{{/if}}
  <br>
  {{#if commentThree.commentary}}
  <div class="accordion">
    <button class="accordion_btn button-54" id="three" type="button">Expand Explanatory Commentary</button>
    <p class="accordion_content three">{{commentThree.commentary}}</p>
  </div>
  {{else}} {{/if}}
  {{#if commentFour.commentary}}
  <div class="accordion">
    <button class="accordion_btn button-54" id="three" type="button">Expand Coffman's Commentary</button>
    <p class="accordion_content three">{{commentFour.commentary}}</p>
  </div>
  {{else}} {{/if}}
  <br>
  <hr />
  {{#if OG}}<h3>Words May Be Out Of Order But Are All Present With their Definitions</h3>
  <hr>{{else}}{{/if}}
  <script type="text/javascript">let x = []; let y = []; let z = [];</script>
  <div id="textInfo">
    {{#each OG}}
    <script
      type="text/javascript"> x.push('{{{this.strongs}}}'); y.push('{{{this.enText}}}'); z.push('{{{this.ogText}}}');</script>
    {{/each}}

  </div>

  <script type="text/javascript">
    let textInfoDiv = document.querySelector('#textInfo');
    async function getting(strongsString, strongsNumber, english, original) {
      let strongsArray = [];
      await fetch(`strong/${strongsString}`)
        .then((response) => {
          if (response.ok) {
            return response.json();
          } else {
            return Promise.reject(response);
          }
        })
        .then((data) => {
          let definition = data.definition;
          strongsArray.push({
            strongsNumber,
            english,
            original,
            definition,
          });
          let p1 = document.createElement('p');
          let p2 = document.createElement('p');
          let p3 = document.createElement('p');
          let p4 = document.createElement('p');
          let hr = document.createElement('hr');

          for (let i = 0; i < strongsArray.length; i++) {
            p1.innerHTML = `<b>Strongs: </b>${strongsArray[i].strongsNumber}`;
            p2.innerHTML = `<b>English: </b>${strongsArray[i].english}`;
            p3.innerHTML = `<b>Original: </b>${strongsArray[i].original}`;
            p4.innerHTML = `<b>Definition: </b>${strongsArray[i].definition}`;
          }
          textInfoDiv.appendChild(p1);
          textInfoDiv.appendChild(p2);
          textInfoDiv.appendChild(p3);
          textInfoDiv.appendChild(p4);
          textInfoDiv.appendChild(hr)
         
        })
        .catch((err) => console.log(err));
    }

    for (let i = 0; i < x.length; i++) {
      let strongsRefrence = x[i];
      let enRefrence = y[i];
      let ogRefrence = z[i];
      getting(strongsRefrence, strongsRefrence, enRefrence, ogRefrence);
    }


    document.querySelectorAll('.accordion_btn').forEach(button => {
      button.addEventListener('click', () => {
        const accordionContent = button.nextElementSibling;
        button.classList.toggle('accordion_active');
        if (button.classList.contains('accordion_active')) {
          accordionContent.style.display = 'contents';
        } else {
          accordionContent.style.display = 'none';
        }
      })
    })

  </script>
